# ------------------------------------------------------------ unit tests
pytest==8.4.1
pytest-asyncio==1.1.0

# ------------------------------------------------------------ benchmarks
apscheduler==3.11.0
python-dotenv==1.1.1
rq-scheduler==0.14.0